CompileFlags:
  Add:
    - "-xc"
    - "-std=c11"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-I./include/"
    - "-I/include/"
    - "-I./source/"
    - "-I/source/"
    - "-I../../source/"
    - "-nostdlib"
    - "-nostdinc"
    - "-fno-builtin"
    - "-m32"
    - "-fno-stack-protector"
    - "-nostartfiles"
    - "-nodefaultlibs"
  CompilationDatabase: build/dev
Index:
  Background: Build
  Threads: 0
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
ClangTidy:
  Add:
    - bugprone-*
    - cert-*
    - clang-analyzer-*
    - misc-*
    - performance-*
    - portability-*
    - readability-*
  Remove:
    - cppcoreguidelines-*
    - modernize-*
    - google-*
    - hicpp-*
Hover:
  ShowAKA: false
Completion:
  IncludeSnippets: true
InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
Format:
  Style: file
